<h2 mat-dialog-title>{{ producto.id ? 'Editar Producto' : 'Crear Nuevo Producto' }}</h2>
<mat-dialog-content>
  <form>
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput [(ngModel)]="producto.name" name="nombre">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Descripción</mat-label>
      <input matInput [(ngModel)]="producto.description" name="descripcion">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Precio</mat-label>
      <input matInput type="number" [(ngModel)]="producto.price" name="precio">
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-button color="primary" (click)="guardar()">Guardar</button>
</mat-dialog-actions>

