<!-- productos.component.html -->
<style>
  table {
    width: 100%;
    border-collapse: collapse;
  }

  table,
  th,
  td {
    border: 1px solid black;
  }

  th,
  td {
    padding: 10px;
    text-align: left;
  }

  .actions {
    display: flex;
    gap: 10px;
  }

  .actions button {
    padding: 5px 10px;
    cursor: pointer;
  }

  .top-actions {
    margin-bottom: 20px;
  }

  .top-actions button {
    padding: 10px 20px;
    cursor: pointer;
  }
</style>

<main class="main">
  <div class="content">
    <h1>Productos</h1>
    <div class="top-actions">
      <button (click)="crearNuevoProducto()">Crear Nuevo Producto</button>
    </div>
    <table>
      <thead>
        <tr>
          <th>Orden</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Precio</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of productos ; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ producto.name }}</td>
          <td>{{ producto.description }}</td>
          <td>{{ producto.price }}</td>
          <td class="actions">
            <button (click)="editarRegistro(producto.id)">Editar</button>
            <button (click)="eliminarRegistro(producto.id, producto.name)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
